.header {
  background: #3c3b3b;
  text-align: center;
  color: white;
  position: absolute;
  width: 100%;
  top: 3vh;
  font-family: radio;
  opacity: 0.8;
  font-family: radio, sans-serif;
}
@font-face {
  font-family: radio;
  src: url("../fonts/Radio.ttf");
}
